body{
    text-align: center;
}
table,td,th{
    border: 1px solid;
    margin: 2px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li{
    clear: both;
    margin: 0 0 10px 0;
    padding: 0;
    display: inline;
}
header, footer{
    margin: 20px;
}